body {
	font-family: Helvetica;
}
h1 {
	font-size: 20px;
	margin: 10px 0px;
}
h2 {
	margin-bottom: 5px;
}

#announcementsTable td {
	vertical-align: middle;	
}

#keysTable td {
	vertical-align: middle;	
}

input[type=text], input[type=password], textarea {
	display: block;
	width: 600px;
	border: 1px solid #eee;
	box-sizing: border-box;
}
button {
	display: inline;
}
form textarea {
	height: 150px;
}

.panel-content {
	padding: 1em;
}	