
	<!-- defaultpanel  -->
	<div data-role="panel" id="defaultpanel" data-theme="b" data-display="overlay">
		<div class="panel-content">

			<h2>Admin Panel</h2>

			<a href="/admin/announcements" data-role="button" data-theme="b" data-icon="comment" data-inline="false">Announcements</a>			
			<a href="/admin/keys" data-role="button" data-theme="b" data-icon="tag" data-inline="false">API Keys</a>					
				
			<a href="/admin/logout" data-ajax="false" data-role="button" data-theme="b" data-icon="action" data-inline="false">Logout</a>
			<a href="#demo-links" data-rel="close" data-role="button" data-theme="a" data-icon="delete" data-inline="true">Close panel</a>

		</div><!-- /content wrapper for padding -->
	</div><!-- /defaultpanel -->