<% include header.html %>

<!-- Admin content here -->
<div data-role="page">
	
	<!-- This is a top header. Contains navigation
		menu button, page heading, etc -->		
	<% include admin-top-bar.html %>
	
	<!-- Note: The button that opens the admin
		pannel is located in the top bar -->
	<% include admin-panel.html %>
		
	<div role="main" class="ui-content">

		<h1>Lastest Events</h1>

		<table id="eventsTable" data-role="table" data-mode="" class="ui-responsive ui-shadow table-stroke">
			<thead>
				<tr class="ui-bar-d">
					<th>Source</th>
					<th>Type</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>Trolley [ID 0877668]</td>
					<td>Powered down</td>
					<td>2014-03-11 12:33pm</td>
				</tr>
				<tr>
					<td>Trolley [ID 0877668]</td>
					<td>Powered down</td>
					<td>2014-03-11 11:31am</td>
				</tr>
				<tr>
					<td>Trolley [ID 2337668]</td>
					<td>Changed route</td>
					<td>2014-03-11 10:32am</td>
				</tr>

			</tbody>
		</table>
	</div> 
	<!-- /main -->
	
</div>

<% include footer.html %>