<% include header.html %>

<!-- Announcements content here -->
<div data-role="page">
		
	<!-- This is a top header. Contains navigation
		menu button, page heading, etc -->		
	<% include admin-top-bar.html %>
	
	<!-- Note: The button that opens the admin
		pannel is located in the top bar -->
	<% include admin-panel.html %>
		
	<div role="main" class="ui-content">
		
		<!-- Error messages from data validation -->
		<div id="error-message-wrapper" class="ui-bar ui-bar-b ui-corner-all" style="display:none"></div>

		<form method="post" action="/admin/password/update/" data-ajax="false">
			<input id="old-password" type="password" name="old-password" data-validation="required" /><br />
			<input id="password" type="password" name="password" data-validation="required" /><br />
						
			<input type="submit" value="Change Password" />
		</form>
		
		<!-- Enables form validation. Needs to be placed
			 _after_ form has been loaded in DOM -->
		<script>			
			var errors = $('#error-message-wrapper');
			$.validate({
				validateOnBlur: false,
				errorMessagePosition: errors,
				onError: function() {
					errors.css('display', 'block');					
				},
				onSuccess: function() {
					errors.css('display', 'none');
				}				
			});
		</script>
						
	</div>
</div>

<% include footer.html %>