<% include header.html %>

<!-- Admin content here -->
<div data-role="page" id="page1">
	
	<!-- This is a top header. Contains navigation
		menu button, page heading, etc -->
	<% include admin-top-bar.html %>
	
	<div role="main" class="ui-content">

		<h1>Lastest Events</h1>

		<table id="eventsTable" data-role="table" data-mode="" class="ui-responsive ui-shadow table-stroke">
			<thead>
				<tr class="ui-bar-d">
					<th>Source</th>
					<th>Type</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>Trolley [ID 0877668]</td>
					<td>Powered down</td>
					<td>2014-03-11 12:33pm</td>
				</tr>
				<tr>
					<td>Trolley [ID 0877668]</td>
					<td>Powered down</td>
					<td>2014-03-11 11:31am</td>
				</tr>
				<tr>
					<td>Trolley [ID 2337668]</td>
					<td>Changed route</td>
					<td>2014-03-11 10:32am</td>
				</tr>

			</tbody>
		</table>
	</div>

	<!-- defaultpanel  -->
	<div data-role="panel" id="defaultpanel" data-theme="b" data-display="overlay">
		<div class="panel-content">

			<h2>Admin Panel</h2>

			<a href="/admin/announcements" data-role="button" data-theme="b" data-icon="comment" data-inline="false">Announcements</a>			
			<a href="/admin/keys" data-role="button" data-theme="b" data-icon="tag" data-inline="false">API Keys</a>					
				
			<a href="/admin/logout" data-ajax="false" data-role="button" data-theme="b" data-icon="action" data-inline="false">Logout</a>
			<a href="#demo-links" data-rel="close" data-role="button" data-theme="a" data-icon="delete" data-inline="true">Close panel</a>

		</div><!-- /content wrapper for padding -->

	</div><!-- /defaultpanel -->
</div>

<% include footer.html %>