<% include header.html %>

<!-- Announcements content here -->
<div data-role="page" id="page1">
	<div data-role="header">
		<h1><%= content %></h1>
	</div>
	<div role="main" class="ui-content">

		<form method="post" action="/admin/announcements/update/<%= announ._id %>" data-ajax="false">

			<input id="announTitleIn" type="text" name="title" value="<%= announ.title %>" />
			<textarea id="announBodyIn" name="body"><%= announ.body %></textarea>
			<input type="date" name="startDate" value="<%= announ.startDate %>" />
			<input type="date" name="endDate" value="<%= announ.endDate %>" />
			<input type="submit" value="Update" />

		</form>
		
		<!-- Back btn -->
		<a href="/admin/announcements" data-ajax="false" data-role="button" data-inline="true" data-icon="back">Announcements</a>
				
	</div>
</div>
<% include footer.html %>