<% include header.html %>

<!-- Keys content here -->
<div data-role="page">
	
	<!-- This is a top header. Contains navigation
		menu button, page heading, etc -->		
	<% include admin-top-bar.html %>
	
	<!-- Note: The button that opens the admin
		pannel is located in the top bar -->
	<% include admin-panel.html %>

	<div role="main" class="ui-content">
		<table id="keysTable" data-role="table" data-mode="" class="ui-responsive ui-shadow table-stroke">
			<thead>
				<tr class="ui-bar-d">
					<th>Owner</th>
					<th>Key</th>
					<th>Disabled</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% keys.forEach(function(key){ %>
				<tr>
					<td> <%= key.fullname %> </td>
					<td> <%= key._id %> </td>
					<td> <%= key.disabled %> </td>
					<td> <% if (key.disabled === true) {
					%> <a href="/admin/keys/enable/<%= key._id %>" class="ui-btn ui-mini ui-btn-active" data-ajax="false">Enable</a> <%
					} else {
					%> <a href="/admin/keys/disable/<%= key._id %>" class="ui-btn ui-mini" data-ajax="false">Disable</a> <%
					} %> </td>
				</tr>
				<% }) %>
			</tbody>
		</table>

		<a href="/admin" data-role="button" data-inline="true" data-icon="back" data-ajax="false">Dashboard</a>

	</div>
</div>
<% include footer.html %>

