<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>panel demo</title>

		


	</head>
	<body>

		<div data-role="page" id="page1">
			<div data-role="header">
				<h1>jQuery Mobile Example</h1>
			</div>
			<div role="main" class="ui-content">
				<a href="#defaultpanel" data-role="button" data-inline="true" data-icon="bars">Navigation</a>
			</div>

			<!-- defaultpanel  -->
			<div data-role="panel" id="defaultpanel" data-theme="b">
				<div class="panel-content">
					<h2>Admin Panel</h2>
					<ul data-role="listview">
						<li>													
							<a href="#" data-role="button" data-theme="b" data-icon="comment" data-inline="true">Announcements</a>									
						</li>
						<li>
							<a href="#" data-role="button" data-theme="b" data-icon="tag" data-inline="true">API Keys</a>							
						</li>
					</ul>
					
					<p>
						To close, click off the panel, swipe left or right, hit the Esc key, or use the button below:
					</p>
					
					<a href="#demo-links" data-rel="close" data-role="button" data-theme="a" data-icon="delete" data-inline="true">Close panel</a>
					
					
				</div><!-- /content wrapper for padding -->
			</div><!-- /defaultpanel -->
		</div>

	</body>
</html>