<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> <%= title %> </title>
		<link rel="stylesheet" href="/css/style.css" />		
		<link rel="stylesheet" href="/css/jquery-mobile/jquery.mobile.css" />
		<link rel="stylesheet" href="/css/jquery-splitview/jquery.mobile.splitview.css" />		
		<link rel="stylesheet" href="/css/jquery-mobile/custom.css" />
				
		<!-- NOTE: See what can be moved to below body for faster loading -->
		<script type="text/javascript" src="/js/vendor/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
		<script type="text/javascript" src="/js/jquery-splitview/jquery.mobile.splitview.js"></script>
		<script type="text/javascript" src="/js/jquery-mobile/jquery.mobile.js"></script>	
		<script type="text/javascript" src="/js/app/func.js"></script>
		<script type="text/javascript" src="/js/app/vars.js"></script>
	</head>	
	
	<body>
	
