<% include header.html %>

<!-- Requests content here -->
<div data-role="page" id="page1">
	<div data-role="header">
		<h1><%= content %></h1>
	</div>

	<div role="main" class="ui-content">
		<!-- Admin content here -->		

		<p>
			<%= info %>
		</p>

		<form method="post" action="/request/create">

			<input id="requestFullnameIn" type="text" name="fullname" placeholder="John Smith" />
			<input id="requestEmailIn" type="text" name="email" placeholder="jsmith@company.com" />
			<textarea id="requestMessageIn" name="message">I am from Civil Engineering and I am making a study on transportation systems. This information would help in such a study.</textarea>
			<input type="submit" value="Send Request" />

		</form>
	</div>
</div>

<% include footer.html %>