<% include header.html %>

<!-- Login content here -->
<div data-role="page" id="page1">
	<div data-role="header">
		<h1><%= content %></h1>
	</div>

	<div role="main" class="ui-content">

		<h3>How to make a REST call?</h3>
		<p>In order to make a REST call to this API the following format must be followed: </p>
		<blockquote><pre><%= queryFormat %></pre></blockquote>
		<p>Optional parameters are surrounded by brackets and actual parameter values are enclosed in less/greater than symbols.</p>
		
		<h3>Who gets API key?</h3>
		<p>Only graduate students and professors whose academic needs require access to the stored information will be given an API key.</p>
		
		<h3>Where do I request an API key?</h3>
		<p>Please visit <a href=<%= requestsURL %> data-ajax="false">Request API Key</a> to request a unique API key.</p>

	</div>
</div>
<% include footer.html %>
